main {
  margin-bottom: 15%;
}

main #title {
  padding-top: 5%;
  margin-left: 40%;
}

main ul {
  list-style: none;
  padding-top: 5%;
}

main li {
  margin-bottom: 7%;
  padding-left: 30%;
}

main li img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

main li .info {
  padding-left: 20%;
  margin-top: -150px;
}
