main {
    margin-bottom: 10%;
}

footer{
    padding-top: 1%;
}

main ul {
    padding-left: 3%;
    list-style:none;
}

main li img {
    border-radius: 50%;
    width:  150px;
    height: 150px;
}

.admins_list{
    display: flex;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
    main{
        margin-bottom: 70%;
    }

    .admins_list{
        width: calc(50% - 100px);
    }
}

.admin{
    width: 35%;
    margin: 10px;
    display: flex;
}

.text,.name,.description{
    word-break: keep-all;
}

.name{
    font-size: 15px;
}

.role{
    font-size: 13px;
}

.sub_role{
    font-size: 10px;
}