@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/**
余白を無くすおまじない
**/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 191, 173);
    font-family: 'Kosugi Maru', sans-serif;
}