@charset "utf-8";

#header-pc {
  background-color: #444;
}

#header-pc {
  box-sizing: border-box;
  width: 100%;
}

#header-pc .header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  height: 80px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

#header-pc .header-nav {
  padding-bottom: 1%;
}

#header-pc .header-nav-list {
  margin-left: auto;
}

#header-pc .header-nav-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  list-style: none;
}

#header-pc .header-nav-item a {
  text-decoration: none;
}

#header-pc .select {
  color: black;
}

#header-pc .header-nav-item:hover {
  background: #eee;
}

#header-pc .logo {
  width: 70px;
  margin-right: auto;
  margin-left: 0;
}

#header-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  /* ここから下がハンバーガーメニューに関するCSS */

  #header-mobile {
    display: inline;
  }

  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100; /* 重なり順を一番上にする */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .header-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: 0.5s;
  }

  /* メニュー黒ポチを消す */
  .header-nav-list {
    list-style: none;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .header-nav-list {
    left: 0; /* メニューを画面に入れる */
  }
}
