@charset "utf-8";

header {
    box-sizing: border-box;
    width: 100%;
    background-color: #444;
}

header .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 80px;
    padding: 0 0.8em;
    margin: 0 auto;
    font-size: 1.2em;
}

header .header-nav {
    padding-bottom: 1%;
}

header .header-nav-list {
    margin-left: auto;
}

header .header-nav-item {
    float: left;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
    list-style: none;
}

header .header-nav-item a {
    text-decoration: none;
}

header .select {
    color: black;
}

header .header-nav-item:hover {
    background: #eee;
}

header .logo {
    width: 70px;
    margin-right: auto;
    margin-left: 0;
}