@charset "utf-8";

main {
    position: relative;
    padding-top: 45%;
}

main nav {
    position: absolute;
    top: 25%;
    left: 40%;
    color: aliceblue;
}

main h1 {
    font-size: 400%;
}

main h3 {
    font-family: 'Minecraft', sans-serif;
}

main #welcome-msg {
    text-align: center;
    margin-top: 3%;
}

main #welcome {
    margin-right: 30%;
}

main #coming {
    margin-left: 40%;
}

main #background-img {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

main ul {
    list-style: none;
    display: flex;
}

main li {
    margin-left: 1rem;
}