@charset "utf-8";

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-title{
  margin-left: 5%;
}

.nav_list{
  margin-top: 35%;
}

.nav_item{
  margin-top: 15px;
  margin-left: 10px;
}

.nav_item>a{
  text-decoration: none;
}

.nav_item>a:visited{
  color: black;
}

.home {
  position: relative;
  padding-top: 45%;
}

main nav {
  position: absolute;
  top: 25%;
  left: 40%;
  color: aliceblue;
}

main h1 {
  font-size: 10vmin;
}

main #welcome-msg {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

main #welcome {
  font-size: 130%;
  text-align: left;
  margin-left: 13%;
}

#outiserver{
  font-size: 400%;
  word-break: keep-all;
}

main #coming {
  font-size: 130%;
  margin-left: 40%;
}

main #background-img {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}

main ul {
  list-style: none;
  display: flex;
}

main li {
  margin-left: 1rem;
}

main #background-img-mobile1,
#background-img-mobile2 {
  display: none;
}

@media screen and (max-width: 480px) {
  main #background-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  main #background-img-mobile1 {
    display: inline;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
  }

  main #background-img-mobile2 {
    display: inline;
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
  }

  .center{
    margin-left: -25%;
  }
}